---
layout: default
title: Blog
---
<p class=".post-nav-top"><a href="{{ '/' | relative_url }}">← Back to home</a></p>

<h1>Blog</h1>

<p class="blog-subtext">Higher-effort posts are crossposted on my <a href="https://parvmahajan.substack.com" target="_blank">Substack</a></p>
<p class="blog-subtext">Almost everything is crossposted on <a href="https://www.lesswrong.com/users/parv-mahajan" target="_blank">LessWrong</a></p>
<p class="blog-subtext">Or subscribe to my <a href="{{ '/feed.xml' | relative_url }}">RSS Feed</a></p>

<ul class="post-list">
    {% for post in site.posts %}
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        <span class="post-date">({{ post.date | date: "%Y-%m-%d" }})</span>
    {% endfor %}
</ul>

{% if site.posts.size == 0 %}
<p class="no-posts">No posts yet. Coming soon!</p>
{% endif %}
